/*Dribble-xxxl-large.css*/

@media screen and (min-width: 2336px) {
	.project-list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	gap: 2rem;

}

.background-gradient {
	width: 100vw;
	margin-left: -3rem;
}

}
