/*Dribble-copy-main.css*/

* {
	padding: 0px;
	margin: 0px;
	font-family: Roboto;
}

body {
	margin-left: 1rem;
	margin-right: 1rem;
	position: relative;
	margin-bottom: 3rem;

	@media screen and (min-width: 1024px){
		margin-left: 3rem;
		margin-right: 3rem;
	}
}

p::selection , a::selection {
	background: #ffedbe;
}

a {
	text-decoration: none;
	color: black;
}

img {
	height: 50px;
	width: 50px;
}

header {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
/*	padding: 0.5em 1.5em 0.5em 1.5em;*/

	@media screen and (min-width: 1024px){
		margin: 1rem 0 1rem 0;
	}
}

.nav-left , .nav-right  {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.25em;
}

nav {
	display: none;

	@media screen and (min-width: 1024px){
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
		font-size: 14px;
	}
}

@media screen and (min-width: 1024px){
	nav :hover {
	color: grey;
	}
}

.logo-middle {
	display: none;
	@media screen and (min-width: 1024px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

@media screen and (min-width: 1024px){
	.logo-middle img {
	height: 5.5rem;
	width: 15rem;
	}
}

@media screen and (min-width: 1024px){
	.logo {
	display: none;
  }
}

@media screen and (min-width: 1024px) {
	.menu {
	display: none;
  }
}
.menu img {
	height: 30px;
	width: 30px;
}

.logo img{
	height: 100px;
	width: 120px;
}

@media screen and (min-width: 1024px){
	.search {
	background-color: #f4f5fb;
	height: 3rem;
	width: 15rem;
	position: relative;
	border-radius: 25px;
  }
}

.search img {
	height: 24px;
	width: 24px;
	padding: 1% 3% 1% 3%;

	@media screen and (min-width: 1024px){
		height: 20px;
		width: 20px;
		position: absolute;
		top: 25%;
		left: 5%;
	}
}

.search input {
	display: none;
	@media screen and (min-width: 1024px){
		display: inline-block;
		border: none;
		position: absolute;
		top: 30%;
		right: 0;
		width: 75%;
		background-color: #f4f5fb;
		text-decoration: none;
		border: none;
		outline: none;
		font-weight: 300;
		font-size: 16px;
		color: black;
		color: black;
	}
}

.profile img {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	padding: 10px;
}

/*section search*/

.search {
	margin: 0;
	padding: 0;
}

.background-gradient {
	background: rgb(193,255,255);
	background: linear-gradient(90deg,
							rgba(193,255,255,0.6363139005602241) 0%,
							rgba(206,175,252,0.5970982142857143) 53%,
							rgba(228,188,231,0.5606836484593838) 90%);
	height: 100px;
	width: calc(100vw - 1rem);
	position: relative;
	margin-left: -1rem;

	@media screen and (min-width: 1024px){
		width: calc(100vw - 1rem);
	  margin-left: -3rem;
	}

	@media screen and (min-width: 1280px) {
		height: 80px;
	}

	@media screen and (min-width: 2336px) {
		width: 100vw;
		margin-left: -3rem;
	}
}

.search-banner {
	height: 75px;
	width: 93%;
	max-width: 632px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #FFFFFF;
	position: absolute;
	box-shadow: 0px 0px 25px 1px #C1C1C1;
	border-radius: 10px;
	top: 60%;
	left: 0;
	right: 0;
	margin: auto;

	@media screen and (min-width: 1024px){
		max-width: 40rem;
		left: 0;
		right: 0;
		margin: auto;
	}
}

input {
	border: none;
	font-weight: 400;
	font-family: Roboto;
	font-size: 18px;
	outline: none;
}

.serch-glass {
	width: 18px;
	height: 18px;
	color: grey;
	padding: 2em;
}

.vertical-line {
	width: 0px;
	height: 28px;
	color: #e3e3e3;
	border: 1px solid;
	border-radius: 10px;
}

.down {
	width: 18px;
	height: 18px;
	color: grey;
}

.Shots {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-content: center;
	gap: 3em;
	padding: 0 1em 0 1em;
}

.presentation {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
}

.presentation p{
	color: grey;
	line-height: 2em;
}

.Related {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.Related a:hover {
	color: grey;
}

/*Filters*/

.filters {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0 2rem 0;

}

.Popular {
	border: 2px solid #e3e3e3;
	width: 8rem;
	height: 3rem;
	border-radius: 10px;
	background-color: transparent;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.Popular:active {
	animation-name: bounce;
}

.Popular p{
	font-weight: 500;
	font-size: 14px;
}

.Filters {
	border: 2px solid #e3e3e3;
	width: 8rem;
	height: 3rem;
	border-radius: 45px;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.Filters p{
	font-weight: 500;
	font-size: 14px;
}

.filter-list {
	width: 1.5rem;
}

.discover-projects {
	display: none;
	@media screen and (min-width: 1024px){
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
		font-weight: 500;
	}
}

@media screen and (min-width: 1024px){
	.discover-projects :hover {
	color: grey;
	}
}

/*section carousel*/

.horizontal-line {
	border: 0.5px solid #e3e3e3;
}

@media screen and (min-width: 1024px){
	.carousel {
	display: none;
	}
}

.project-type {
	display: flex;
	justify-content: space-between;
	margin: 2em 0 2em 0;
	font-weight: 600;
}

.project-type a:hover {
	color: grey;
}

.project {
	position: relative;
}

.project img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 10px;
	aspect-ratio: 4/3;
}

.hover:hover {
	opacity: 1;
}

.hover {
	width: 100%;
	height: auto;
	aspect-ratio: 4/3;
	position: absolute;
	top: 0;
	display: flex;
	border-radius: 10px;
	align-items: flex-end;
	justify-content: space-between;
	align-content: center;
	background-image: linear-gradient(180deg, rgba(89, 131, 252, 0) 41%,
										rgba(0, 0, 0, 0.68) 100%);
	opacity: 0;
}

.mark , .like {
	height: 5%;
	width: auto;
	aspect-ratio: 1/1;
	background-color: white;
	border-radius: 50%;
	padding: 2.5%;
	margin: 0 5% 5% 0;
}

/*.like {
	height: 25px;
	width: 25px;
	background-color: white;
	border-radius: 50px;
	padding: 10px;
	margin: 0.5rem;
}*/

.mark :hover , .like :hover {
	stroke: grey;
}

.hover a{
	margin: 0 0 5% 5%;
	font-weight: 500;
	color: white;
	display: flex;
	flex-grow: 8;
	font-size: 130%;
}

@media screen and (min-width: 768px) {
	.project-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		gap: 2rem;

		@media screen and (min-width: 1024px){
			grid-template-columns: repeat(3, 1fr);
		}

		@media screen and (min-width: 1280px) {
			grid-template-columns: repeat(4, 1fr);
		}

		@media screen and (min-width: 1536px) {
			grid-template-columns: repeat(5, 1fr);
		}

		@media screen and (min-width: 2336px) {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}

.project-left img {
	width: 30px;
	height: 30px;
	border-radius: 50px;
}

.project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2.5rem;
}

.project-left {
	display: flex;
	align-self: flex-start;
	align-items: center;
	gap: 0.5em;
}

.name {
	font-size: 16px;
	font-weight: 400;
}

.project-left p {
	background-color: grey;
	height: 1rem;
	width: 2rem;
	font-size: 12px;
	text-align: center;
	line-height: 1.5em;
	font-weight: 600;
	color: white;
	border-radius: 2px;
}

.project-left p:hover {
	background-color: black;
}

.project-right {
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
	font-size: 12px;
	font-weight: 500;
}

.author {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0.5em;
}

.svg-heart , .svg-eye {
	width: 1.5rem;
	height: 1.5rem;
}

.svg-heart svg:hover {
	fill: lightpink;
}

.likes , .vues {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading {
	display: flex;
	justify-content: center;

}

.loading a{
	background-color: #e3e3e3;
	height: 3rem;
	width: 8rem;
	text-align: center;
	line-height: 3rem;
	border-radius: 25px;
	font-size: 14px;
	font-weight: 500;
}

.sticky-arrow {
	display: flex;
	justify-content: flex-end;
	position: sticky;
	bottom: 2rem;
}

.sticky-arrow :hover {
	background-color: grey;
}

.arrow-up {
	background-color: #e3e3e3;
	height: 3rem;
	width: 3rem;
	border-radius: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
}

.arrow-up svg {
	height: 1.5rem;
	width: 1.5rem;
	align-self: center;
}

footer{
	display: flex;
	justify-content: center;
}

.botom-page {
	max-width: 1225px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.first-line {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	margin-bottom: 3rem;

	@media screen and (min-width: 1024px){
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		background-color:red;
	}
}

.logo-footer img{
	height: 100px;
	width: 120px;
	display: flex;
}

.links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	text-align: center;
	font-weight: 500;

	@media screen and (min-width: 1024px){
		display: flex;
		justify-content: space-evenly;
	}
}

.social-media img {
	width: 1.3rem;
	height: 1.3rem;
	padding: 0.2rem;
}

.links-dribble {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

@media screen and (min-width: 1024px){
	.links-dribble {
		flex-direction: row;
		justify-content: space-between;
	}
}

.upper-left {
	display: flex;
	line-height: 2rem;
	gap: 1rem;
}

.lower-right {
	display: flex;
	gap: 1rem;
}

@media screen and (min-width: 768px) {
	.links-dribble{
	display: flex;
	justify-content: center;
	}
}

.links-dribble p , .links-dribble a{
	color: grey;
	font-weight: 400
}
